@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
    margin: 0;
    padding: 0;
    background-image: url(../images/loop-multicolored-mysterious-light-leak-gradient-screen-overlay-free-video.jpg);
    background-size: cover;
}

body{
   color: black;
   font-family: "Lobster", sans-serif;
   font-weight: bolder;
   font-style: normal;
}
h1{
    text-align: center;
  
}
body img{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  

}
body p{
    text-align: center;
    color: white;
    background-color: maroon;
}

.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


#responseMessage {
    text-align: center;
    margin-top: 10px;
    color: green;
}
#table{
   border: 2px solid black;
   border-collapse: collapse;
   margin: auto;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 50;
   margin-right: 50;
}
#picha  a  img{ 
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#nav ul li{
    display: inline;
    padding: 10px;
}
#nav{
    text-align: center;
}
#nav a{
    color: black;
    text-decoration: none;
}
#nav a:hover{
    background-color: blue;
    color: white;
}
